.Product{
    /* min-width: 25%; */
    width: 399px;
    height: 373.33px;
    display: flex;
    flex-direction: column;
    margin: 12px;
}
.image{
    width: 373px;
    height: 200px;
    margin: 0;
}
.item{
    width: 341.67px;
    height: 124px;
    padding: 0px 16px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .15);
    background-color: #fff;

}
.herb{
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    font-family: Chronicle Deck, Times, serif;
    color: #002c9b;
    margin: 0;
}
.text{
    font-size: 16px;
    line-height: 20px;
    font-family: Cera Pro, HelveticaNeue, Helvetica Neue, HelveticaNeueRoman, HelveticaNeue-Roman, Helvetica Neue Roman, TeXGyreHerosRegular, Helvetica, Tahoma, Geneva, Arial, sans-serif;
    color: #424242;
    margin: 0;
    padding-top: 5px;
    font-weight: 300;
    letter-spacing: -.01em;
}
.total{
    display: flex;
    justify-content: center;
    padding: 12px;
}
.testpad{
    padding: 12px;
   
}